PORT=4173
HOST=127.0.0.1

GRAB_API_KEY=
GRAB_MAPS_API_BASE_URL=https://maps.grab.com
GRAB_MAPS_LIBRARY_URL=https://maps.grab.com/developer/assets/js/grabmaps.es.js
GRAB_MAPS_BROWSER_API_KEY=
GRAB_MAP_THEME=basic
GRAB_DIRECTIONS_PATH=/api/v1/maps/eta/v1/direction
GRAB_ROUTE_PROFILE=driving
GRAB_ROUTE_OVERVIEW=full
GRAB_ROUTE_GEOMETRIES=polyline6
GRAB_ROUTE_AVOID=
GRAB_ROUTE_ALTERNATIVES=
GRAB_PLACES_COUNTRY=SGP
GRAB_PLACES_BIAS_LAT=1.3521
GRAB_PLACES_BIAS_LNG=103.8198
GRAB_PLACE_SEARCH_PATH=/api/v1/maps/poi/v1/search
GRAB_NEARBY_PATH=/api/v1/maps/place/v2/nearby
GRAB_REVERSE_GEOCODE_PATH=/api/v1/maps/poi/v1/reverse-geo
GRAB_NEARBY_RADIUS=1
GRAB_NEARBY_LIMIT=10
GRAB_NEARBY_RANK_BY=distance
GRAB_67_SAMPLE_POINTS=7
GRAB_67_SEARCH_LIMIT=8
GRAB_67_MAX_STOPS=4

DEFAULT_START_LABEL=Marina Bay Sands
DEFAULT_START_LAT=1.28360
DEFAULT_START_LNG=103.86020
DEFAULT_END_LABEL=Orchard Road
DEFAULT_END_LAT=1.30480
DEFAULT_END_LNG=103.83180
